body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('https://images.unsplash.com/photo-1464039397811-476f652a343b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1168&q=80');
  background-repeat: no-repeat;
  background-size: cover;

  height: 100%;
  min-height: 100vh;

  backdrop-filter: blur(8px);
}

body, input{
  font-family: 'Roboto', sans-serif;
}

:root{
  --border-color: #256D85;
  --card-bkg-color: #256d8580;
  --btn-bkg-danger: #F37878;
  --btn-bkg-danger-hover: #7f1019;
}
